@import "tailwindcss";

:root {
  --background: #F3F4F6;
  --foreground: #171717;
  --green: #248232;
  --yellow: #F7F052;
  overscroll-behavior-y: contain;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
  overscroll-behavior-y: contain;
}
